Django==1.10.5
djangorestframework==3.5.3
dj-database-url==0.4.2
django-admin-sortable==2.0.21
django-choices==1.4.4
django-cors-headers==2.0.1
django-extensions==1.7.6
django-filter==1.0.1
django-oauth-toolkit==0.11.0
django-polymorphic==1.1
djangorestframework-jsonapi==2.1.1
pipdeptree==0.9.0
psycopg2==2.6.2
pylint-django==0.7.2
setuptools==34.1.1
